/* Auth.scss */
.authContainer{
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  height: 100vh;
  background: #f9df1a;
  .logo{
    width: 257px; height: 246px;
    background: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FdSsTbw%2FbtrGRHFsSwK%2FqzCZVoq5e3tSw5KIP2S0l0%2Fimg.png") no-repeat 0 0;
    transform: scale(0.5);
  }
  .authBtns{
    display: flex; justify-content: space-between;
    width: 100%; max-width: 320px;
    .authBtn{
      width: 150px;
      background-color: #fff;
      font-size: 12px;
      text-align: center;
      padding: 10px 0;
      margin-top: 50px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}